[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
asyncio = "*"
aiohttp = "*"
pytz = "*"
numpy = "*"
pandas = "*"
tqdm = "*"
pytesseract = "*"
scikit-learn = "*"
twint = "*"
requests = "*"
matplotlib = "*"
Pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
