[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord.py = "*"
asyncio = "*"
aiohttp = "*"
pytz = "*"
numpy = "*"
pandas = "*"
tqdm = "*"
pytesseract = "*"
scikit-learn = "*"
twint = {editable = true, ref = "origin/master", git = "https://github.com/twintproject/twint.git"}
requests = "*"
matplotlib = "*"
Pillow = "*"
nest-asyncio = "*"
selenium = "*"
python-doctr = "*"

[dev-packages]

[requires]
python_version = "3.9"
